@model List<HienHoaDon>

<style>
    h1 {
        color: #3498db;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        color: #555;
    }

    a {
        color: #3498db;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease;
    }

        a:hover {
            color: #e74c3c;
        }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        border: 1px solid #ecf0f1;
        text-align: left;
        padding: 12px;
    }

    th {
        background-color: #3498db !important;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #ecf0f1;
    }

    tr:hover {
        background-color: #bdc3c7;
    }

    .action-links {
        display: flex;
        justify-content: center;
    }

        .action-links a {
            margin: 0 10px;
            padding: 8px 16px;
            border: 1px solid #3498db;
            border-radius: 4px;
            color: #3498db;
            background-color: #fff;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

            .action-links a:hover {
                background-color: #3498db;
                color: #fff;
            }
</style>

<table>
    <tr>
        <th>Tên sách</th>
        <th>Tồn đầu tháng</th>
        <th>Phát sinh</th>
        <th>Tồn cuối tháng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TenSach</td>
            <td>@item.TonDauNam</td>
            <td>@item.PhatSinh</td>
            <td>@item.TonCuoiNam</td>
        </tr>
    }
</table>
