@model QLNS1.Models.ThuTien

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .btn-primary {
        width: auto;
    }

    .my-3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

<h1>Thu tiền</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Họ và tên:</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ:</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">Số điện thoại:</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTienThu" class="control-label">Số tiền thu:</label>
                <input asp-for="SoTienThu" class="form-control" />
                <span asp-validation-for="SoTienThu" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách phiếu thu -></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
